{
  "openapi": "3.1.0",
  "info": {
    "title": "Subconscious AI API",
    "description": "API for creating and managing AI agent runs and webhook subscriptions",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.subconscious.dev/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/runs": {
      "post": {
        "summary": "Create a new agent run",
        "description": "Creates a new agent run. The run is processed asynchronously. Use the returned runId to poll for status or set up webhooks to receive notifications.",
        "operationId": "createRun",
        "requestBody": {
          "description": "Run creation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Run created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List runs",
        "description": "List all runs for the authenticated organization",
        "operationId": "listRuns",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of runs to return (default: 50, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/runs/stream": {
      "post": {
        "summary": "Create and stream a run",
        "description": "Creates a run and streams execution events via Server-Sent Events (SSE). Uses OpenAI-compatible SSE format.",
        "operationId": "streamRun",
        "requestBody": {
          "description": "Run creation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stream of run events",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{runId}": {
      "get": {
        "summary": "Get a run",
        "description": "Retrieve the status and results of a specific run",
        "operationId": "getRun",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "description": "The ID of the run to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{runId}/cancel": {
      "post": {
        "summary": "Cancel a run",
        "description": "Cancel a running or queued run. Returns the updated run with status 'canceled'. No-op if run is already terminal.",
        "operationId": "cancelRun",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "description": "The ID of the run to cancel",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run canceled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/subscriptions": {
      "post": {
        "summary": "Create a webhook subscription",
        "description": "Create a new webhook subscription to receive notifications when runs complete",
        "operationId": "createWebhookSubscription",
        "requestBody": {
          "description": "Webhook subscription request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List webhook subscriptions",
        "description": "List all webhook subscriptions for the authenticated organization",
        "operationId": "listWebhookSubscriptions",
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookSubscriptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/subscriptions/{id}": {
      "delete": {
        "summary": "Delete a webhook subscription",
        "description": "Delete a webhook subscription by ID",
        "operationId": "deleteWebhookSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the webhook subscription to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook subscription deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/canary": {
      "post": {
        "summary": "Test webhook delivery",
        "description": "Send a test webhook to verify your webhook endpoint is working correctly",
        "operationId": "webhookCanary",
        "requestBody": {
          "description": "Canary webhook request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCanaryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Canary webhook queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCanaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateRunRequest": {
        "type": "object",
        "required": ["engine", "input"],
        "properties": {
          "engine": {
            "type": "string",
            "enum": ["tim-small-preview", "tim-large", "tim-test"],
            "description": "The engine to use for this run"
          },
          "input": {
            "$ref": "#/components/schemas/RunInput"
          },
          "output": {
            "$ref": "#/components/schemas/RunOutput"
          },
          "options": {
            "$ref": "#/components/schemas/RunOptions"
          }
        }
      },
      "RunInput": {
        "type": "object",
        "required": ["instructions"],
        "properties": {
          "instructions": {
            "type": "string",
            "minLength": 1,
            "description": "The instructions for the agent to execute"
          },
          "tools": {
            "type": "array",
            "description": "Array of tools the agent can use",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "answerFormat": {
            "$ref": "#/components/schemas/JSONSchemaObject"
          },
          "reasoningFormat": {
            "$ref": "#/components/schemas/JSONSchemaObject"
          }
        }
      },
      "RunOutput": {
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "Optional callback URL to receive webhook notifications when the run completes"
          }
        }
      },
      "RunOptions": {
        "type": "object",
        "properties": {
          "timeout": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3600,
            "description": "Timeout in seconds (max 1 hour)"
          }
        }
      },
      "Tool": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PlatformTool"
          },
          {
            "$ref": "#/components/schemas/FunctionTool"
          },
          {
            "$ref": "#/components/schemas/McpTool"
          }
        ]
      },
      "PlatformTool": {
        "type": "object",
        "required": ["type", "id"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["platform"],
            "description": "Tool type"
          },
          "id": {
            "type": "string",
            "description": "Platform tool ID (e.g., 'web_search', 'calculator')"
          },
          "options": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional tool-specific options"
          }
        }
      },
      "FunctionTool": {
        "type": "object",
        "required": ["type", "name", "description", "url", "method", "parameters"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "Tool type"
          },
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTP endpoint URL"
          },
          "method": {
            "type": "string",
            "enum": ["POST", "GET"],
            "description": "HTTP method"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in seconds (default: 30)"
          },
          "parameters": {
            "$ref": "#/components/schemas/ToolParameters"
          }
        }
      },
      "McpTool": {
        "type": "object",
        "required": ["type", "server"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["mcp"],
            "description": "Tool type"
          },
          "server": {
            "type": "string",
            "description": "MCP server URI or identifier"
          },
          "name": {
            "type": "string",
            "description": "Optional: specific tool name, if omitted uses all tools from server"
          },
          "auth": {
            "$ref": "#/components/schemas/McpAuth"
          }
        }
      },
      "McpAuth": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["bearer", "api_key"],
            "description": "Authentication type"
          },
          "token": {
            "type": "string",
            "description": "Authentication token"
          },
          "header": {
            "type": "string",
            "description": "For api_key auth, the header name"
          }
        }
      },
      "ToolParameters": {
        "type": "object",
        "required": ["type", "properties"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["object"],
            "description": "Parameter type"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Parameter properties (JSON Schema format)"
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required parameter names"
          },
          "additionalProperties": {
            "type": "boolean",
            "description": "Whether additional properties are allowed"
          }
        }
      },
      "JSONSchemaObject": {
        "type": "object",
        "required": ["type", "properties", "required", "title"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["object"],
            "description": "Schema type"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JSONSchemaProperty"
            },
            "description": "Object properties"
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required property names"
          },
          "title": {
            "type": "string",
            "description": "Schema title"
          },
          "additionalProperties": {
            "type": "boolean",
            "enum": [false],
            "description": "Must be false for structured output"
          },
          "$defs": {
            "type": "object",
            "additionalProperties": true,
            "description": "Schema definitions"
          }
        }
      },
      "JSONSchemaProperty": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/JSONSchemaString"
          },
          {
            "$ref": "#/components/schemas/JSONSchemaNumber"
          },
          {
            "$ref": "#/components/schemas/JSONSchemaBoolean"
          },
          {
            "$ref": "#/components/schemas/JSONSchemaArray"
          },
          {
            "$ref": "#/components/schemas/JSONSchemaObject"
          },
          {
            "$ref": "#/components/schemas/JSONSchemaEnum"
          },
          {
            "$ref": "#/components/schemas/JSONSchemaAnyOf"
          }
        ]
      },
      "JSONSchemaString": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["string"],
            "description": "Property type"
          },
          "description": {
            "type": "string",
            "description": "Property description"
          },
          "format": {
            "type": "string",
            "enum": ["date", "date-time", "email", "uuid"],
            "description": "String format"
          },
          "pattern": {
            "type": "string",
            "description": "Regex pattern"
          }
        }
      },
      "JSONSchemaNumber": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["number", "integer"],
            "description": "Property type"
          },
          "description": {
            "type": "string",
            "description": "Property description"
          }
        }
      },
      "JSONSchemaBoolean": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["boolean"],
            "description": "Property type"
          },
          "description": {
            "type": "string",
            "description": "Property description"
          }
        }
      },
      "JSONSchemaArray": {
        "type": "object",
        "required": ["type", "items"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["array"],
            "description": "Property type"
          },
          "items": {
            "$ref": "#/components/schemas/JSONSchemaProperty",
            "description": "Array item schema"
          },
          "description": {
            "type": "string",
            "description": "Property description"
          }
        }
      },
      "JSONSchemaEnum": {
        "type": "object",
        "required": ["type", "enum"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["string"],
            "description": "Property type"
          },
          "enum": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Enum values"
          },
          "description": {
            "type": "string",
            "description": "Property description"
          }
        }
      },
      "JSONSchemaAnyOf": {
        "type": "object",
        "required": ["anyOf"],
        "properties": {
          "anyOf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JSONSchemaProperty"
            },
            "description": "AnyOf schemas"
          },
          "description": {
            "type": "string",
            "description": "Property description"
          }
        }
      },
      "CreateRunResponse": {
        "type": "object",
        "required": ["runId", "status"],
        "properties": {
          "runId": {
            "type": "string",
            "description": "Unique identifier for the run"
          },
          "status": {
            "type": "string",
            "enum": ["queued"],
            "description": "Initial status of the run"
          }
        }
      },
      "GetRunResponse": {
        "type": "object",
        "required": ["runId", "status"],
        "properties": {
          "runId": {
            "type": "string",
            "description": "Unique identifier for the run"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "running", "succeeded", "failed", "canceled", "timed_out"],
            "description": "Current status of the run"
          },
          "result": {
            "$ref": "#/components/schemas/RunResult",
            "description": "Run result (only present for terminal states)"
          },
          "usage": {
            "$ref": "#/components/schemas/RunUsage",
            "description": "Token usage and timing (only present for terminal states)"
          },
          "error": {
            "$ref": "#/components/schemas/RunError",
            "description": "Error details (only present for failed runs)"
          }
        }
      },
      "RunResult": {
        "type": "object",
        "required": ["answer"],
        "properties": {
          "answer": {
            "type": "string",
            "description": "The agent's answer"
          },
          "reasoning": {
            "type": "object",
            "additionalProperties": true,
            "description": "The agent's reasoning (if available)"
          }
        }
      },
      "RunUsage": {
        "type": "object",
        "required": ["inputTokens", "outputTokens"],
        "properties": {
          "inputTokens": {
            "type": "integer",
            "description": "Number of input tokens used"
          },
          "outputTokens": {
            "type": "integer",
            "description": "Number of output tokens generated"
          },
          "toolCalls": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Number of tool calls per tool"
          },
          "durationMs": {
            "type": "integer",
            "description": "Duration of the run in milliseconds"
          }
        }
      },
      "RunError": {
        "oneOf": [
          {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "details": {
                "type": "object",
                "additionalProperties": true,
                "description": "Additional error details"
              }
            }
          },
          {
            "type": "string",
            "description": "Error message as string"
          }
        ]
      },
      "CancelRunResponse": {
        "type": "object",
        "required": ["runId", "status"],
        "properties": {
          "runId": {
            "type": "string",
            "description": "Unique identifier for the run"
          },
          "status": {
            "type": "string",
            "enum": ["canceled"],
            "description": "Status after cancellation"
          }
        }
      },
      "ListRunsResponse": {
        "type": "object",
        "required": ["runs", "nextCursor"],
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunListItem"
            },
            "description": "List of runs"
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Pagination cursor for next page (null if no more pages)"
          }
        }
      },
      "RunListItem": {
        "type": "object",
        "required": ["runId", "status", "engine", "createdAt", "updatedAt"],
        "properties": {
          "runId": {
            "type": "string",
            "description": "Unique identifier for the run"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "running", "succeeded", "failed", "canceled", "timed_out"],
            "description": "Current status of the run"
          },
          "engine": {
            "type": "string",
            "enum": ["tim-small-preview", "tim-large", "tim-test"],
            "description": "Engine used for this run"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the run was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the run was last updated"
          }
        }
      },
      "CreateWebhookSubscriptionRequest": {
        "type": "object",
        "required": ["callbackUrl", "eventTypes"],
        "properties": {
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notifications"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["job.succeeded", "job.failed"]
            },
            "minItems": 1,
            "description": "Event types to subscribe to"
          },
          "secret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 256,
            "nullable": true,
            "description": "Optional secret for webhook signature verification"
          },
          "description": {
            "type": "string",
            "maxLength": 512,
            "nullable": true,
            "description": "Optional description for this subscription"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "required": ["id", "orgId", "callbackUrl", "eventTypes", "createdAt", "updatedAt"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the subscription"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID that owns this subscription"
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notifications"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["job.succeeded", "job.failed"]
            },
            "description": "Event types subscribed to"
          },
          "secret": {
            "type": "string",
            "nullable": true,
            "description": "Secret for webhook signature verification (if set)"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description for this subscription"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the subscription was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the subscription was last updated"
          }
        }
      },
      "ListWebhookSubscriptionsResponse": {
        "type": "object",
        "required": ["subscriptions"],
        "properties": {
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookSubscription"
            },
            "description": "List of webhook subscriptions"
          }
        }
      },
      "WebhookCanaryRequest": {
        "type": "object",
        "required": ["callbackUrl"],
        "properties": {
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to send the test webhook to"
          }
        }
      },
      "WebhookCanaryResponse": {
        "type": "object",
        "required": ["deliveryId", "callbackUrl", "status", "payload"],
        "properties": {
          "deliveryId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this delivery"
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL the webhook was sent to"
          },
          "status": {
            "type": "string",
            "enum": ["queued"],
            "description": "Delivery status"
          },
          "payload": {
            "type": "object",
            "required": ["kind", "ts", "orgId"],
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["canary"],
                "description": "Payload kind"
              },
              "ts": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp"
              },
              "orgId": {
                "type": "string",
                "description": "Organization ID"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "string",
                "description": "Error message"
              },
              {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "A human-readable error message"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of error"
                  },
                  "param": {
                    "type": "string",
                    "description": "The parameter that caused the error, if applicable"
                  },
                  "code": {
                    "type": "string",
                    "description": "An error code identifying the error type"
                  }
                }
              }
            ]
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional error details (for validation errors)"
          },
          "requestId": {
            "type": "string",
            "description": "Request ID for debugging"
          },
          "runId": {
            "type": "string",
            "description": "Run ID (if applicable)"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your API key generated on the Subconscious platform"
      }
    }
  }
}
